# npm package
/node_modules/

# empty file to improve vsc linting tailwind's classes
tailwind.config.js

# task of project
task.txt

# js folder compiled by tsc
/dist/

# typescript json settings
tsconfig.json